In [60]:
import pandas            as pd
import numpy             as np
import matplotlib.pyplot as plt

In [61]:
raw = pd.read_excel('http://www.criminaljustice.ny.gov/crimnet/ccman/codedlawmanual.xls', skiprows = 5, header = None)

WARNING *** file size (1941440) not 512 + multiple of sector size (512)

In [62]:
# this drops all of the columns that have only NA's

raw2 = raw.dropna(axis = 1, how = 'all')

# replaces NaN's with blank strings
raw2 = raw2.replace(np.nan,'', regex=True)

In [63]:
# assign new names
new_names = []

for c in range(0, len(raw2.columns)):
    new_names.append(raw2.iloc[0,c] + str(raw2.iloc[1,c]))
    
new_names[1] = new_names[2]
new_names[2] = new_names[3]
new_names[6] = new_names[5]
new_names[7] = new_names[8]
new_names[14] = new_names[15]
new_names[16] = new_names[17]
new_names[19] = new_names[18]
new_names[22] = new_names[21]

raw2.columns = new_names

In [64]:
raw2.columns

Index([            u'Title',           u'Section',               u'Sub',
                     u'Sub',                  u'',             u'Class',
                   u'Class',               u'Cat',               u'Cat',
                        u'',               u'Deg',              u'NCIC',
                        u'',         u'Printable',         u'UCR  Code',
               u'UCR  Code',          u'IBR Code',          u'IBR Code',
          u'Effective Date',    u'Effective Date', u'Short Description',
                        u'',                  u''],
      dtype='object')

In [65]:
# drop the first two rows
raw2 = raw2.drop(raw2.index[[0,1]])

In [66]:
blanks = []

for r in range(0, raw2.shape[0]):
    if (raw2.iloc[r, 0] == ''):
        blanks.append(r)

blanks

raw2 = raw2.drop(raw2.index[[blanks]])

In [102]:
# rewrite blank values to be NaN's
raw2.replace('', np.nan, inplace=True)

# drop empty columns
raw2 = raw2.dropna(axis = 1, how = 'all')

# replaces NaN's with blank strings
raw2 = raw2.replace(np.nan,'', regex=True)

# drop rows where you're missing section
raw2 = raw2.drop(raw2[raw2.Section == ''].index)

# final name tidying
new_names = list(raw2.columns)

new_names[5] = 'Deg'
new_names[6] = 'NCIC'
new_names[9] = 'IBR_code'
new_names[11] = 'Short_Description'
new_names[12] = 'Full_Description'

raw2.columns = new_names

In [110]:
# make the Degree field an int (and then make it a string)
raw2.Deg = raw2.Deg.astype(int).astype(str)

In [123]:
raw2['final_code'] = pd.Series(raw2.Title + raw2.Section + raw2.Sub + raw2.Class + raw2.Cat + raw2.Deg + raw2.IBR_code, index = raw2.index)

In [125]:
# save it to CSV
raw2.to_csv('nys_statutes.csv')