In [1]:
import pandas            as pd
import numpy             as np
import matplotlib.pyplot as plt

In [95]:
raw = pd.read_excel('http://www.criminaljustice.ny.gov/crimnet/ccman/codedlawmanual.xls', skiprows = 5, header = None)

# replaces all of the nan's with strings
#raw = raw.replace(np.nan,'', regex=True)

# tells you which columns have all NA's
#raw.isnull().all()

raw.head(n = 5)

WARNING *** file size (1941440) not 512 + multiple of sector size (512)

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,Title,NaN,NaN,NaN,Section,Sub,NaN,Class,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Short Description,NaN,NaN,Full Description
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,IBR Code,Effective Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# this drops all of the columns that have only NA's

raw2 = raw.dropna(axis = 1, how = 'all')

In [105]:
raw2 = raw2.replace(np.nan,'', regex=True)

In [126]:
# assign new names
new_names = []

for c in range(0, len(raw2.columns)):
    new_names.append(raw2.iloc[0,c] + str(raw2.iloc[1,c]))
    
raw2.columns = new_names

# drop the first two rows
raw2 = raw2.drop(raw2.index[[0,1]])

In [139]:
blanks = []

for r in range(0, raw2.shape[0]):
    if (raw2.iloc[r, 0] == ''):
        blanks.append(r)

blanks

raw2 = raw2.drop(raw2.index[[blanks]])

In [140]:
raw2.head()

,Title,,Section,Sub,,Class,,,Cat,,...,Printable,,UCR Code,,IBR Code,Effective Date,,Short Description,,Full Description
5,ABC,,,,,,,,,,...,,,,,,,,,,
7,ABC,051,,,,,A,M,,0,...,N,99,,90G,,,,,BREWER LIC VIOL,Brewers License Violation
8,ABC,054,,,,,U,M,,0,...,N,99,,90Z,,,,,RETAIL LIC VIOL,Vio Beer Sale Consum Off Prems
9,ABC,061,,,,,A,M,,0,...,N,99,,90G,,,,,DISTILLER VIOL,Violation Distiller's Licenses
10,ABC,063,,,,,A,M,,0,...,N,99,,90G,,,,,RETAIL LIC VIOL,Violation Liquor Sale Consumption Off Premises